In [2]:
import pandas as pd
df = pd.read_csv('/Users/sherryyang/Documents/wiggins-lab/data/original-superSegger-assignment/test.csv', header=None)

In [3]:
df

     0      1
0    1    NaN
1    2  14,17
2    3     16
3    4     18
4    5     19
5    6     20
6    7     21
7    8    NaN
8    9     24
9   10     25
10  11     26
11  12    NaN
12  13    NaN
13  14  28,32
14  15    NaN
15  16     30
16  17     31
17  18    NaN
18  19    NaN
19  20     34
20  21     38
21  22     37
22  23     39
23  24     40
24  25     59
25  26    NaN
26  27  52,57
27  28     43
28  29    NaN
29  30     46
30  31     45
31  32    NaN
32  33     47
33  34     48
34  35     49
35  36    NaN
36  37     58
37  38     51
38  39    NaN
39  40    NaN
40  41    NaN
41  42    NaN
42  43    NaN
43  44     54
44  45     55

In [4]:
supersegger_assignments_set = {}
for index, row in df.iterrows():
    if not pd.isnull(row[1]):
        cell_list = row[1].split(',')
        supersegger_assignments_set[row[0]] = set(cell_list)

In [7]:
import pandas as pd

excel_path = "/Users/sherryyang/Documents/wiggins-lab/data/manually_linked.xlsx"
excel_file = pd.ExcelFile(excel_path)
sheet_names = excel_file.sheet_names

manual_set = {}
for time_sheet in sheet_names:
    df = excel_file.parse(time_sheet)
    df = df.astype(str)
    columns = df.columns
    for index, row in df.iterrows():
        cell_list = row[1].split(',')
        manual_set[row[0]] = set(cell_list)

In [14]:
manual_set = {}
df = excel_file.parse('t10-t11')
df = df.astype(str)
columns = df.columns
for index, row in df.iterrows():
    cell_list = row[1].split(',')
    manual_set[row[0]] = set(cell_list)

In [15]:
manual_set

{'3': {'16'},
 '5': {'19'},
 '6': {'20'},
 '9': {'24'},
 '4': {'18'},
 '2': {'14', '17'},
 '7': {'21'},
 '10': {'25'},
 '11': {'26'},
 '16': {'30'},
 '22': {'37'},
 '24': {'40'},
 '20': {'34'},
 '18': {'32'},
 '14': {'28'},
 '17': {'31'},
 '27': {'42'},
 '25': {'41', '52'},
 '38': {'51'},
 '34': {'48'},
 '44': {'54'},
 '28': {'43'},
 '23': {'39'},
 '35': {'49'},
 '29': {'44'},
 '37': {'50'},
 '33': {'47'},
 '31': {'45'},
 '45': {'55'},
 '21': {'38'},
 '30': {'46'}}

In [29]:
total_number = len(manual_set)
correct_number = 0

for key, value in manual_set.items():
    if (int(key) in supersegger_assignments_set) and (supersegger_assignments_set[int(key)]== value):
        correct_number+=1

In [31]:
total_number

31

In [21]:
supersegger_assignments_set

{2: {'14', '17'},
 3: {'16'},
 4: {'18'},
 5: {'19'},
 6: {'20'},
 7: {'21'},
 9: {'24'},
 10: {'25'},
 11: {'26'},
 14: {'28', '32'},
 16: {'30'},
 17: {'31'},
 20: {'34'},
 21: {'38'},
 22: {'37'},
 23: {'39'},
 24: {'40'},
 25: {'59'},
 27: {'52', '57'},
 28: {'43'},
 30: {'46'},
 31: {'45'},
 33: {'47'},
 34: {'48'},
 35: {'49'},
 37: {'58'},
 38: {'51'},
 44: {'54'},
 45: {'55'}}